<section>
  <form fxLayout="column" fxLayoutAlign="center center" #f="ngForm" fxLayoutGap="10px" (ngSubmit)="onSubmit(f)">
    <mat-form-field>
      <input type="email" matInput placeholder="Your email" ngModel name="email" email required #emailInput="ngModel"/>
      <mat-error *ngIf="emailInput.hasError('required')">Email is required</mat-error>
    </mat-form-field>
    <mat-form-field hintLabel="Should be at least 6 character long">
      <input type="password" matInput
      placeholder="Your password" ngModel
      name="password" required min-length="6"
      #passwordLength="ngModel"/>
      <mat-error *ngIf="passwordLength.hasError('required')">Password is required</mat-error>
      <mat-hint align="end"> {{ passwordLength.value?.length }}/ 6</mat-hint>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Your birth date" [matDatepicker]="datePicker" [max]="maxDate" ngModel name="birthDate"/>
      <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
      <mat-datepicker #datePicker></mat-datepicker>
    </mat-form-field>
    <mat-checkbox ngModel name="agree">Agree to terms and conditions</mat-checkbox>
    <button type="submit" *ngIf="!isLoading$ | async" mat-raised-button color="primary" [disabled]="!f.valid">Submit</button>
    <mat-spinner *ngIf="isLoading$ | async"></mat-spinner>
  </form>
</section>
